.navBar{
    background-color: rgb(107,98,255);
    width: 100vw;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: white;
}

.darkMode{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 30px;
}